<br />
<div class="col-8">
    <a asp-action="Index" asp-controller="Admin"><h4 class="text-center">Navigation</h4></a>
</div>

<div class="btn-group-vertical col-8">
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Article" asp-action="Index">Article Admin Page</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Admin" asp-action="ListEmployeeRole">Employees Admin Page</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Admin" asp-action="ListUserRole">Users Admin Page</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Admin" asp-action="ListRoleName">Role Admin Page</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Admin" asp-action="Index">Set Editor's Choice</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="User" asp-action="GetAllSubscriptions">User Subscriptions</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Admin" asp-action="GetAllSubscriptionsTypes">Subscription Types</a></button>
    <button type="button" class="btn btn-outline-primary"><a asp-controller="Admin" asp-action="SubscriptionsStatistics">Subscription Statistics</a></button>

</div>
