@model TeamFyraSidor.Data.Article

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center mt-4">Create Article</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" value="" maxlength="150"/>
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentSummary" class="control-label"></label>
                <textarea asp-for="ContentSummary" rows="2" class="form-control" maxlength="200"></textarea>
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="autoresizing" class="form-control" placeholder="use html tags as you will"></textarea>
                @* <input asp-for="Content" class="form-control" value="" /> *@
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Category: </label>
                <select asp-for="CategoryId" class="form-select form-select" asp-items="ViewBag.Categories">
                    <option value="" selected>Please choose a category:</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" value="" maxlength="200" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" onclick="" />
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    textarea = document.querySelector("#autoresizing");

    textarea.innerHTML = "<p></p><p></p><br />";

    textarea.addEventListener('input', autoResize, false);

    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    }
</script>


