@model TeamFyraSidor.Models.ViewModels.CategoryPageVM
@{
    ViewData["Title"] = "Local";
}

<div>
    <h4 class="mb-3 mt-5 text-danger">LOCAL NEWS</h4>
    <hr />

    <partial name="_CategoryPartial" model="@Model" />
</div>
