@model TeamFyraSidor.Models.ViewModels.CategoryPageVM
@{
    ViewData["Title"] = "Sports";
}

<h4 class="mb-3 mt-5 text-danger">SPORTS NEWS</h4>
<hr />

<partial name="_CategoryPartial" model="@Model" />