@model TeamFyraSidor.Models.ViewModels.CategoryPageVM
@{
    ViewData["Title"] = "Sweden";
}

<h4 class="mb-3 mt-5 text-danger">SWEDEN NEWS</h4>
<hr />

<partial name="_CategoryPartial" model="@Model" />