@model TeamFyraSidor.Models.ViewModels.CategoryPageVM
@{
    ViewData["Title"] = "Travel";
}

<h4 class="mb-3 mt-5 text-danger">TRAVEL NEWS</h4>
<hr />

<partial name="_CategoryPartial" model="@Model" />